################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/siKecil/FileContentIndex/5b1a2a46-0924-4e48-b557-c98651147383.vsidx
